{{define "bootstrap"}}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <title>Roster</title>
        <script src="/js/htmx-1.9.11.js"></script>
    </head>

    <body hx-boost="true">
    <main>
        <header>
            <h1>Roster</h1>
        </header>
        <div>
        <!-- Our content will go here. -->
        {{template "yield" .}}
        </div>

    </main>
    </body>
    </html>
{{end}}
